<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminHeader :: header">
<body>
<nav th:replace="fragments/adminNav :: navFragment"></nav><br/><br/>
<div class="container">
    <div class="detail-body">
        <form action="methods" method="get">
            <label for="search">멤버 검색하기</label>
            <input type="text" id="search" class="search" placeholder="ID, 이름으로 검색하세요" onkeyup="getMemberList()">
            <button>검색</button>
        </form>
        <hr/>
        <div id="memberList" class="memberList"></div>
    </div>
</div>
<script th:src="@{/js/searchMember.js}" src="js/searchMember.js"></script>
</body>
</html>