<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminHeader :: header">
<body>
<nav th:replace="fragments/adminNav :: navFragment"></nav>
<div class="container">
    <div class="detail-body">
        <h3 style="text-align: center;"><a th:text="|카테고리 편집|"></a></h3><br/><br/>
        <form th:action="@{/admin/categories/edit}" method="post">
            <label for="name">카테고리 이름</label>
            <input id="name" type="text" name="name"/>
            <label for="name">카테고리 url 이름</label>
            <input id="urlName" type="text" name="urlName"/>
            <input hidden name="parentCategoryId" th:value="${parentCategoryId}">
            <br/><br/><br/>
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-small" type="submit">추가</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-small"
                            th:onclick="|location.href='@{/admin/categories}'|" type="button">돌아가기</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>