<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/adminHeader :: header">
<body>
<nav th:replace="fragments/adminNav :: navFragment"></nav>
<div class="container">
    <div class="detail-body">
        <form th:action="@{/admin/editMemberAuth}" method="post">
            <input id="memberId" name="memberId" hidden th:value="${member.id}">
            <div>
                <label for="loginId">아이디</label>
                <h3 id="loginId" th:text="${member.loginId}"></h3>
            </div>
            <div>
                <label for="name">이름</label>
                <h3 id="name" th:text="${member.name}"></h3>
            </div>
            <select id="grade" name="grade">
                <option value="admin" th:if="${member.role} != 'admin'">관리자</option>
                <option value="customer" th:if="${member.role} != 'user'">일반유저</option>
                <option value="seller" th:if="${member.role} != 'manager'">게시판지기</option>
            </select>
            <button class="btn btn-primary" type="submit">수정</button>
        </form>
    </div>
</div>

<script th:src="@{/js/scripts.js}" src="js/scripts.js"></script>
<script th:src="@{/js/searchMember.js}" src="js/searchMember.js"></script>
</body>
</html>