spring:
  datasource:
    #url: jdbc:h2:tcp://localhost/~/hgcommunity;
    #username: sa
    #password:
    #driver-class-name: org.h2.Driver

    # 도커 사용할 때 localhost -> db
    url: jdbc:mysql://localhost:3306/hgcommunity?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    session:
      port: 6379
      host: 127.0.0.1


  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#          show_sql: true
        format_sql: true
        use_sql_comments: true

logging.level:
  org.hibernate.SQL: info
  org.hibernate.type: info

file.dir: C:/Users/Administrator/study/file/