<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head th:replace="fragments/header :: header">

<body class="body">
<header>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:replace="fragments/bodyHeaderCategory :: bodyHeaderCategory" />
</header><br/><br/>
<main class="body-content">
    <div class="container">
    <div id="wrapper">
        <div class="row">
            <div class="col-4">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th> <a style="font-size: 1.2em;"> 오늘의 인기글 </a> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post:${bestPostsToday}">
                        <td><a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
                            <span class="badge bg-info" th:text="|좋아요 ${post.likeNum}|"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th> <a style="font-size: 1.2em;"> 주간 인기글 </a> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post:${bestPostsWeek}">
                        <td><a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
                            <span class="badge bg-info" th:text="|좋아요 ${post.likeNum}|"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th> <a style="font-size: 1.2em;">월간 인기글</a> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post:${bestPostsMonth}">
                        <td><a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
                            <span class="badge bg-info" th:text="|좋아요 ${post.likeNum}|"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:text="${mainCategory}"></div><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="100">탭</th>
                <th width="700">제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post:${posts}">
                <td><a th:text="${post.parentCategory}"></a></td>
                <td><a th:text="${post.title}" th:href="@{/post/{postId}(postId=${post.id})}"></a></td>
                <td><a th:text="${post.nickname}"></a></td>
                <td><a th:text="${#temporals.format(post.createTime, 'yyyy-MM-dd HH:mm:ss')}"></a></td>
                <td><a th:text="${post.views}"></a></td>
                <td><a th:text="${post.likeNum}"></a></td>
            </tr>
            </tbody>
        </table>

        <div style="display: flex;">

            <button class="btn btn-success" style="margin-left: auto;"
                    th:if="${!isAuthenticated}" onclick="needLogin()">글쓰기</button>
            <button class="btn btn-success" style="margin-left: auto;"
                    th:if="${isAuthenticated}"
                    th:onclick="|location.href='@{/category/{urlName}/register(urlName=${mainCategory})}'|">글쓰기</button>
        </div>
        <form method="get" th:action="@{/category/{urlName}(urlName=${mainCategory})}" th:object="${searchCondition}">
            <div class="mx-auto input-group" >
                <select th:field="*{searchTarget}" style="margin-right: 5px;" >
                    <option value="">==검색 조건==</option>
                    <option th:each="target : ${T(hg.community.enumtype.SearchTarget).values()}"
                            th:value="${target}"
                            th:text="${target}"></option>
                </select>
                <mx-auto>
                    <input th:field="*{searchKeyword}" type="text" class="form-control" placeholder="검색 키워드"
                           aria-label="search" aria-describedby="button-addon2">
                </mx-auto>
                <button type="submit" class="btn btn-secondary" id="button-addon2">검색</button>
            </div>
        </form>
        <br/>
        <ul class="pagination pagination-sm">
            <li class="page-item">
                <!-- 첫페이지로 가는 링크 -->
                <a class="page-link" th:href="@{/category/{urlName}(urlName='${mainCategory}', page=1)}">
                    <span>처음으로</span>
                </a>
            </li>

            <li th:class="${posts.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="|'${posts.first}' ? '#' : @{/category/{urlName}(urlName='${mainCategory}', page='${posts.number}')}|">  <!-- Page 객체가 제공하는 메서드를 사용할 때 이름이 살짝 변경됨. -->
                    <span>&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:class="${page == posts.number + 1} ? 'page-item active'">
                <a class="page-link" th:text="${page}" th:href="|@{/category/{urlName}(urlName='${mainCategory}', page='${page}')}|"></a>
            </li>

            <li th:class="${posts.last} ? 'disabled'">
                <a class="page-link" th:href="|'${posts.last}' ? '#' : @{/category/{urlName}(urlName='${mainCategory}', page=${posts.number + 2})}|">
                    <span>&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="|@{/category/{urlName}(urlName='${mainCategory}', page='${posts.totalPages}')}|">
                    <span>맨 끝</span>
                </a>
            </li>
        </ul>
    </div><br/><hr/>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer" />
</footer>
<script th:src="@{/js/needLogin.js}"></script>
</body>
</html>