<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body class="body">
<header>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:replace="fragments/bodyHeaderCategory :: bodyHeaderCategory" />
</header><br/><br/>
<main class="body-content">
    <div class="container">
    <div id="wrapper">
        <div th:text="${mainCategory}"></div><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="100">탭</th>
                <th width="700">제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post:${posts}">
                <td><a th:text="${post.parentCategory}"></a></td>
                <td><a th:text="${post.title}" th:href="@{/post/{postId}(postId=${post.id})}"></a></td>
                <td><a th:text="${post.nickname}"></a></td>
                <td><a th:text="${#temporals.format(post.createTime, 'yyyy-MM-dd HH:mm:ss')}"></a></td>
                <td><a th:text="${post.views}"></a></td>
                <td><a th:text="${post.likeNum}"></a></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul class="pagination pagination-sm">
            <li class="page-item">
                <!-- 첫페이지로 가는 링크 -->
                <a class="page-link" th:href="|@{/category/{urlName}(urlName='${mainCategory}', page=1}|">
                    <span>처음으로</span>
                </a>
            </li>

            <li th:class="${posts.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="|'${posts.first}' ? '#' : @{/category/{urlName}(urlName='${mainCategory}', page='${posts.number}')}|">  <!-- Page 객체가 제공하는 메서드를 사용할 때 이름이 살짝 변경됨. -->
                    <span>&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:class="${page == posts.number + 1} ? 'page-item active'">
                <a class="page-link" th:text="${page}" th:href="|@{/category/{urlName}(urlName='${mainCategory}', page='${page}')}|"></a>
            </li>

            <li th:class="${posts.last} ? 'disabled'">
                <a class="page-link" th:href="|'${posts.last}' ? '#' : @{/category/{urlName}(urlName='${mainCategory}', page=${posts.number + 2})}|">
                    <span>&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="|@{/category/{urlName}(urlName='${mainCategory}', page='${posts.totalPages}')}|">
                    <span>맨 끝</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer" />
</footer>
</body>
</html>