<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">HG닷컴</a>
            <div id="socketAlert"> <a>안녕</a> </div>
            <div style="display: flex;">
                <div style="margin-left: auto">
                    <button th:if="${isAdmin}" type="button" class="btn btn-success"
                            th:onclick="|location.href='@{/admin}'|" style="margin-right: 10px;"> 관리자 페이지 </button>
                    <button th:if="${!isAuthenticated}" id="btn2" type="button" class="btn btn-outline-dark float-end" th:onclick="|location.href='@{/login}'|">
                        Login
                    </button>
                    <form th:action="@{/logout}" method="post">
                        <button th:if="${isAuthenticated}" id="btn4" type="submit"
                                class="btn btn-outline-dark float-end">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>