<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeaderCategory">
    <!-- Navigation-->
    <div class="container">
    <nav role="navigation">
        <ul id="main-menu">
            <li th:each="rootCategory : ${categories}">
                <a href="#" th:text="${rootCategory.name}"></a>
                <ul class="sub-menu">
                    <li th:each="mainCategory : ${rootCategory.subCategory}">
                        <a th:href="@{/category/{urlName}(urlName=${mainCategory.urlName})}"
                           aria-label="submenu" th:text="${mainCategory.name}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    </div>
</div>