<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeaderCategory">
    <!-- Navigation-->
    <div class="container">
    <nav role="navigation">
        <ul id="main-menu">
            <li><a href="#">MENU1</a></li>
            <li><a href="#">MENU2</a>
                <ul class="sub-menu">
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                </ul>
            </li>
            <li><a href="#">MENU3</a>
                <ul class="sub-menu">
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                </ul>
            </li>
            <li><a href="#">MENU4</a>
                <ul class="sub-menu">
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                    <li><a href="#" aria-label="submenu">submenu</a></li>
                </ul>
            </li>
            <li><a href="#">MENU5</a></li>
            <li><a href="#">MENU6</a></li>
        </ul>
    </nav>
    </div>
</div>