* {
    margin:0;
    padding:0;
    box-sizing: border-box
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
  flex: 1;
}

.container {
    max-width: 1200px;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

.pagination {
    justify-content: center;
}

a {
    text-decoration-line: none;
    color: black;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.space {
    padding: 0px 10px;
    display: flex;
}

.title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.5em;
}

#gray {
    display: flex;
    height : 40px;
    padding: 8px 20px;
    background: #E8E8E8;
}

.nickname {
    flex-grow: 1;
    font-weight: bold;
}

.find-btn{
	text-align: center;
}

.find-btn1{
	display :inline-block;
}